@{
    ViewBag.Title = "Learning SQL - Updates";
}
<div class="about">
    <div class="banner">
        <h1>Updates</h1>
        <p>Follow <a href="https://twitter.com/SQLisHard">@@sqlishard</a> on twitter. See code updates on <a href="https://bitbucket.org/tarwn/sqlishard">bitbucket</a>.</p>
    </div>

    <div>
        <h3>Feb 18, 2018 - #0.224.1</h3>
        <ul>
            <li>New: <a href="/Exercise#/exercises/AGGREGATE" title="Link to AGGREGATE exercises">New exercises added</a> to learn Aggregate function slike AVG, SUM, MIN, MAX.</li>
            <li>Fix: reloading the page won't forget your completed exercises</li>
        </ul>
    </div>
    <div>
        <h3>Dec 23, 2017 - #0.216.1</h3>
        <ul>
            <li>Changes coming...</li>
        </ul>
    </div>

    <p class="commentary">Just cruising on without issues for 4 years, thanks Azure!</p>

    <div>
        <h3>Feb 22, 2014 - #0.194.1</h3>
        <ul>
            <li>Exercises now have unique URLs that can be individually bookmarked or shared</li>
        </ul>
    </div>
    <div>
        <h3>October 19, 2013 - #0.186.1</h3>
        <ul>
            <li>Added seperate 'Messages' tab that includes STATISTICS IO output for every successful query</li>
        </ul>
    </div>
    <div>
        <h3>August, 2013 - #0.185.1</h3>
        <ul>
            <li>Minor layout changes to front page and exercise page</li>
            <li>Improve error detection for case when exercise list has not fully loaded client-side before sending a query</li>
        </ul>
    </div>
    <p class="commentary">Distracted by family, work, Skyrim, and other important parts of real life.</p>
    <div>
        <h3>July 13, 2013 - #0.184.1</h3>
        <ul>
            <li>Improve regular expressions for hinting and switch to case insensitive comparison</li>
        </ul>
    </div>
    <div>
        <h3>July 12, 2013 - #0.171.1</h3>
        <ul>
            <li>Add 3 new exercises (4.0, 4.1, and 5.0) exercises to the SELECT exercise set</li>
            <li>Hints added for JOIN and aliasing exercises in the SELECT exercise set</li>
            <li>Basic hinting capability added, uses pattern evaluation of submitted query</li>
        </ul>
    </div>
    <div>
        <h3>June 25, 2013 - #0.166.1</h3>
        <ul>
            <li>Tweaked interface to improve horizantal space</li>
            <li>Per feedback on blog, split top of exercise into 3 consistent sections: Explanation, Example, Exercise (though there is not enough vertical space to label them)</li>
        </ul>
    </div>
    <div>
        <h3>June 16, 2013 - #0.164.1</h3>
        <ul>
            <li>Added 3.x exercises to the SELECT exercise set</li>
            <li>Added some CSS to make it more obvious you can select an exerice on the left menu to skip ahead/back</li>
        </ul>
    </div>
    <div>
        <h3>June 16, 2013 - #0.162.1</h3>
        <ul>
            <li>Added better responses for empty, 'show tables', 'help', and 'drop table' queries</li>
            <li>Corrected some speeeling errors</li>
            <li>Moved definition of exercises from compiled code to a file store</li>
        </ul>
    </div>
    <div>
        <h3>June 13, 2013 - Announced on LessThanDot</h3>
        <ul>
            <li><a href="http://blogs.lessthandot.com/index.php/datamgmt/dbprogramming/sql-is-hard/">SQL Is Hard</a> - Blog post published on LessThanDot</li>
        </ul>
    </div>
    <div>
        <h3>May 17-20, 2013 - #0.147.1 to #0.158.1</h3>
        <ul>
            <li>Added the 2.x exercises to the SELECT exercise set</li>
            <li>robot + search engine: robots.txt, sitemaps, page descriptions, etc</li>
            <li>Built an initial front page for the site (finally)</li>
        </ul>
    </div>
    <div>
        <h3>April 27-28, 2013 - #0.141.1 to #0.144.1</h3>
        <ul>
            <li>Reworked database deployment scripts, added the Orders sample data table</li>
            <li>Tweaks to the @Html.ActionLink("About", "Index", "About") pages and favicon</li>
        </ul>
    </div>
    <div>
        <h3>April 4-7, 2013 - #0.130.1 to #0.136.1</h3>
        <ul>
            <li>Added @Html.ActionLink("About", "Index", "About") (Goal, Exercises, Technology) pages</li>
            <li>Query evaluation switched to use case insensitive comparison for column names</li>
            <li>Migrate initial sample database table to a new name (Customers)</li>
        </ul>
    </div>
    <div>
        <h3>March 2013 - #0.119.1</h3>
        <ul>
            <li>CSS tweaks, improvements to Exercise navigation in side pane, updates to icons due to bad rendering in chrome</li>
        </ul>
    </div>
    <div>
        <h3>February 2013 - #0.119.1</h3>
        <ul>
            <li>Technical improvements, build and deployment improvements</li>
        </ul>
    </div>
    <div>
        <h3>February 2013 - #0.108.1 to #0.115.0</h3>
        <ul>
            <li>Technical improvements, build and deployment improvements</li>
        </ul>
    </div>
    <div>
        <h3>February 2013 - #0.88.1 to #0.115.0</h3>
        <ul>
            <li>Initial exercise set created, 1.0 to 1.2 of the SELECT exercises</li>
            <li>General layout of the Exercises page</li>
            <li>Improvements to the exercise advancement navigation</li>
            <li>Technical improvements, build and deployment improvements</li>
        </ul>
    </div>
    <div>
        <h3>And so on</h3>
        <ul>
            <li>Initial prototype of the Query Execution area of the Exercises page</li>
            <li>Logic for query hitory tracking and session tracking</li>
            <li>Initial logic for detecting and logging all errors</li>
            <li>Initial logic for logging results of each exercise for aggregate reporting on execution times and success rate</li>
            <li>Initial hardcoded Exercise from the SELECT exercises set</li>
            <li>Initial database deployment logic fo the sample database</li>
            <li>Initial deployment scripts and process for automated build and deployment</li>
        </ul>
    </div>
</div>