@{
    ViewBag.Title = "Learning SQL - Updates";

}
<div class="about">
    <div class="banner">
        <h1>SQL is Hard</h1>
        <ul>
            <li>@Html.ActionLink("The Goal","","About")</li>
            <li>@Html.ActionLink("The Exercises","Exercises","About")</li>
            <li>@Html.ActionLink("The Tech","Tech","About")</li>
            <li class="selected">@Html.ActionLink("Updates","Updates","About")</li>
        </ul>
    </div>
    <h2>Update History</h2>
    <p>
    
    </p>
</div>