@{
    ViewBag.Title = "Let's Get Started";
}

<div class="banner">
<h1>SQL is Hard</h1>
<div class="subtitle">But it doesn't have to be.</div>
</div>

<div class="footer">A random sideproject by <a href="http://tiernok.com" title="Eli's website">Eli Weinstock-Herman</a> (<a href="http://twitter.com/tarwn" title="Tarwn on twitter">@@tarwn</a>)</div>