@{
    ViewBag.Title = "Let's Get Started";
    ViewBag.PageDescription = "Learning SQL can be tough. SQLisHard.com is an interactive set of exercises to help you learn SQL online using hands-on exercises using Microsoft TSQL.";
    ViewBag.Keywords = "Learn SQL Online";
}

<div class="banner">
<h1>SQL is Hard</h1>
<div class="subtitle">But learning it doesn't have to be.</div>
</div>
