@{
    ViewBag.Title = "Let's Get Started";
    ViewBag.PageDescription = "Learning SQL can be tough. SQLisHard.com is an interactive set of exercises to help you learn SQL online using hands-on exercises using Microsoft TSQL.";
    ViewBag.Keywords = "Learn SQL Online";
}

<div class="banner">
<h1>SQL is Hard</h1>
<div class="about">
    <p>Learning SQL can be daunting, despite the incredible availability of reference materials. Sometimes the best way to learn is to get your hands dirty.</p>
    <p>SQLisHard.com is a site that will help you learn SQL interactively, one step at a time.</p>
    <a href="@Url.Action("Index","Exercise")"><img src="@Url.Content("~/Content/Screenshot.png")" title="Sample screenshot" style="border: 1px solid #DDDDDD;" /></a><br />
    <a href="@Url.Action("Index","Exercise")">Let's get started</a>
</div>
    <p style="width: 700px; margin: 20px auto;">
        SQLisHard.com is a work in progress. The first set of exercises focuses on SELECTing data, from basic queries to JOINs and aggregation, and is a <a href="@Url.Action("Exercises","About")">work in progress</a>.
        I will continue to expand these, adding more advanced sets of exercises as time allows.</p>
</div>
