@{
    ViewBag.Title = "Exercise";
    string baseUrl = @Url.Content("~");
    string statementApiUrl = @Url.Content("~/api/Statement");
    string exercisesApiUrl = @Url.Content("~/api/Exercises/List");
    string userApiUrl = @Url.Content("~/api/User/GetLoggedInUser");
}
@section ExtraNavLinks {
    @*<span data-bind="ifnot: user"></span>*@
    @*<span data-bind="if: user">Welcome <a href="javascript: void(0);" data-bind="text: user().displayName"></a></span>*@
}

<div id="left">
    <h1>SQL is Hard</h1>
    
    <div id="summary">
        <div id="exerciseList" data-bind="with: exercises">
            <h2 data-bind="text: title">Exercises</h2>
            <div data-bind="html: summary"></div>
            <ul data-bind="foreach: exercises">
                <li data-bind="click: $parent.goToExercise.bind($data, id), css: { selected: id == $root.exercises().currentExercise().id }">
                    <!-- ko if: ($root.user() != null && $root.user().hasCompleted(id)) -->
                        <i class="icon-check"></i>
                    <!-- /ko -->
                    <!-- ko ifnot: ($root.user() != null && $root.user().hasCompleted(id)) -->
                        <i class="icon-check-empty"></i>
                    <!-- /ko -->
                    <span data-bind="text: title"></span>
                </li>
            </ul>
        </div>
    </div>

    <a href="javascript: void(0)" class="DEBUG" data-bind="visible: isDebug, click: exercises().advanceExercise">Next Exercise</a>
</div>
<div id="main">
    <div id="exerciseDescription" data-bind="with: exercises().currentExercise">
        <h2 data-bind="text: title">Exercise Title</h2>
        <div data-bind="html: details"></div>
    </div>
    <!-- ko with: exercises().currentExercise -->
    <div class="continueArea" data-bind="visible: ($root.user() != null && $root.user().hasCompleted(id))">Excellent! Lets <a class="button" id="continueButton" data-bind="click: $root.exercises().advanceExercise">Continue<i class="icon-play"></i></a>
    </div>
    <!-- /ko -->
    <div id="editor">
        <div id="queryInputArea">
            <div id="commandBar">
                <input id="queryExecutionButton" type="button" value="Execute" data-bind="click: executeQuery.bind(this, true), disable: currentQuery.isRunning" />
            </div>
            <textarea id="queryInput" cols="80" rows="5" data-bind="value: currentQuery.queryText"></textarea>
        </div>
        <div id="queryResultsArea">
            <div id="queryResultsTab">Results</div>
            <div id="queryResults" data-bind="with: currentQuery.queryResult">
                <div data-bind="template: { name: isError() ? 'result-error' : 'result-rows' }"></div>
            </div>
        </div>
        <div id="queryExecutionStatusBar">
            <div id="queryStatus" data-bind="template: { name: currentQuery.isRunning() ? 'query-status-indicator-running' : 'query-status-indicator-notrunning', data: currentQuery}" ></div>
            <div id="resultsCount" data-bind="template: { name: 'query-status-record-count', data: currentQuery.queryResult, if: currentQuery.queryResult }"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // init so we can pass in API URL
        SqlIsHardApp.init(ko, jQuery, infuser, '@baseUrl', '@statementApiUrl', '@exercisesApiUrl', '@userApiUrl');
        SqlIsHardApp.ViewModel.isDebug(false);

        // apply bindings
        ko.applyBindings(SqlIsHardApp.ViewModel);
    });
</script>